*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

.image{
    margin:0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; 
  gap:15px;
  margin-top:100px;
}
.image img{
    width:230px;
    height:230px;
    border:2px solid grey;
    margin:0 auto;
    transition:0.8s;

}
.image img:hover{
transform:scale(1.1);
transition-duration:0.5s;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
.register{
    border:10px solid grey;
    width:500px;

    margin:150px 250px;
    border-radius: 20px;
}
.register h2{
    text-align:center;
    margin-top:100px;
}

.register form{
  margin:0 auto;
  margin-top:30px;
  display:flex;
  flex-direction: column;
  gap:10px;
 width:300px; 

  
}
.register input{
    text-align:center;
    border:1px solid black;
    height:50px;
}
.register form textarea{
    height:100px;
    text-align:center;
margin-top:10px;

}
.rigister form button{
    width:50px;
    padding:15px;
    border-radius:10px;

}
.register #s{
    border-radius:20px;
    width:100px;
    font-size:20px;
    font-weight:bold;
    margin:10px;
    margin-left:100px;
}
.register #s:hover{
    background-color:tomato;
    color:white;
}
.login{
    margin:150px;
    padding:80px;
    border:2px solid rgb(233, 195, 195);
}
.login input {
    display:flex;
    flex-direction:column;
    gap:10px;
    
}
.login p{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.login .button{
    width:80px;
    padding:10px;
    border-radius: 10px;
    font-weight: bold;
    margin-top:20px;

    background-color:aquamarine;
    margin-left:250px;
}
.login .button:hover{
    background-color:bisque;
    color:rgb(124, 67, 67);
    font-size:20px;
}
.login input{
    height:50px;
    text-align:center;
    color:blue;
    font-weight:bold;
    font-size:18px;
}
.contact{
    display:flex;
    gap:10px;
    margin:70px;
    border:1px solid grey;

}
.contact .map{
    padding:10px;
    width:25%;
}
.contact .form{
    padding:20px;


}
.contact .form input{
    padding:20px;
    

}
.contact .form #message{
    height:80px;
    width:100%;
}
.contact .form input{
    padding-top:80px;
}
.content .form label{
    padding-top:80px;
}
.contact .form .button{
    width:70px;
    font-weight:bold;
    border-radius:10px;
    padding:7px;
    background-color:blue;
    margin:0 auto;
    color:white;
font-size:20px;
margin-top:20px;
}
.profile{
  margin:70px;
    background-color:rgb(54, 188, 241);
    
}
.profile h1{
text-align:center;
padding-top: 20px;
padding-bottom:15px;
}
.content{
    display:flex;
    flex-direction: column;
    gap:20px;

}
.profile .content img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:0 auto;
}
.content h2{
    margin:0 auto;
    margin-bottom:20px;
    color:rgb(255, 200, 133);

}
.content p{
    font-size:20px;
    color:rgb(255, 200, 133);
    margin:0 auto;
    margin-bottom:20px;
}
.content a{
    color:rgb(92, 92, 248)
}
.items .heading{
border:1px solid grey;
width:40%;
margin:10px 50px;

}
.items .heading2{
  justify-content: center;
  padding:20px;
    display:flex;
    gap:20px;

}
.items h2{
padding:10px;
text-align:center;
}
.product-item{
padding:10px 50px;
gap:20px;
display:flex;
flex-direction: column;
}

.product-item1 img{
    width:50%;
    height:100%;
}
.product-item1{
display:flex;

border:2px solid rgb(128, 98, 63);


}
.product-item1 .text{
margin:0 auto;
padding-top:80px;

}
.product-item1 .text .calculation{
    padding:10px
}

.text h3,h4,p{
    padding:10px;
}
.text  a{
    padding: 15px;
    
    color:rgb(132, 0, 255);
    font-size:16px;
    
    
}
.text span{
    padding:5px;
}
.text button{
  padding:5px;
    font-size:20px;
}

.product-item2 img{
    width:50%;
    height:100%;
}
.product-item2{
    display:flex;
    
    border:2px solid rgb(128, 98, 63);
    
    padding:10px 50px; 
    }
    .price-range{
        display: grid;
        grid-template-columns:1fr 1fr;
        width:45%;
    }
    .items{
        display:grid;
        grid-template-columns: 2fr 2fr;
        
    }
    .heading{
        grid-column: span 2;
        
    }
    .payment-summary{
    display:flex;
    flex-direction: column;
    border:2px solid grey;
    padding:30px;
    }
    .price-range button{
        color:blue;
      font-size:25px;
      width:200px;
      margin-top:10px;
      background-color:grey;
      border-radius: 10px;
      font-weight:bold;
    }
    .payment i{
        font-size:20px;
        padding:10px;
        
    }
    .payment-method{
        margin-top: 70px;
    }
    
.header-link{
    
    width:100%;
    display:flex;
    padding:15px;
}
.header{
    display:flex;
    background-color:grey;
}
.header img{
    max-width:100px;
    height:80px;
    border-radius:50%;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right:30px;
    border:2px solid rgb(253, 250, 250);
}
.header li {
list-style:none;
padding:15px 80px;
font-size:20px;
font-weight:bold;
padding-left:30px;
}
.header a{
    text-decoration:none;
}
.lower-navbar{
    background-color: rgb(94, 151, 255);
    display:flex;
    padding:10px 40px;
}
.lower-navbar p{
    margin-left:350px;
}
.lower-navbar a{
    text-decoration:none;
    font-weight:bold;
    
    text-decoration: none;
}
.lower-navbar h2:hover{
    padding-left:200px;
    transition-duration:3s;
    color:white;
    
}
.lower-navbar i{
    color:rgba(204, 218, 218, 0.897);
    font-size:20px;
}
.lower-navbar p:hover{
    text-decoration: overline;
    font-size:20px;
    color:aliceblue;
}
.lower-navbar a:hover{
    color:black;
}
.banner{
    background:url(image/0.5.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  overflow: auto;
}
.header li:hover{
    text-decoration:overline;
}
.banner marquee img{
width:200px;
height:200px;
border-radius:50%;
}

.logo .div1{
    border:2px solid tomato;
    width:25%;
    margin:50px;
    padding:10px 20px;
}
.div1 i{
    font-size:55px;
    padding-left:50px;
    color:rgb(250, 95, 6);
}
.div1 p{
    font-weight: bold;
    color:grey;
    font-size:20px;
}

.logo .div3{
    border:2px solid tomato;
    width:25%;
    margin:50px;
    padding:10px 20px;
}
.div3 i{
    font-size:35px;
    padding-left:50px;
    color:rgb(2, 2, 238);
}
.div3 p{
    font-weight: bold;
    color:grey;
    font-size:20px;
}


.logo .div2{
    border:2px solid tomato;
    width:25%;
    margin:50px;
    padding:10px 20px;
}
.div2 i{
    font-size:35px;
    padding-left:50px;
    color:rgb(160, 245, 216);
}
.div2 p{
    font-weight: bold;
    color:grey;
    font-size:20px;
}
.logo{
    display:flex;
}
.last-part {
    display:flex;
  margin-left:250px;
}
.caategories {
    padding:20px;
}
.price{
padding:20px;
}

.shoping{
padding:20px;
}
.footer{
 display:flex;
 background-color:rgb(236, 127, 127);
}
.footer p{
    font-weight:bold;
  
}
.footer .txt{
    margin-left:30px;
    margin-top:15px;
}

.footer .input input{
 text-align:center;
 padding:10px 50px;
 font-weight:bold;
 color:blue;
 font-size:18px;
 margin-top:10px;
}
.footer .btn{
    padding:20px;
    font-size:20px;
}
.footer .btn button{
    font-size:18px;
    padding:10px;
    border-radius:10px;
    background-color:tomato;
    color:rgb(232, 245, 157);
    letter-spacing:1.5px;
}
    

.footer button:hover{
    background-color:blue;
    color:white;
}
.footer .link a{
    font-size:17px;
    text-decoration:overline;
    
    
}
.footer .link{
    margin-top:20px;
}